//-
//- File name: Index.pug
//- Author's: Simranjit 
//- File description:  Index page consists of all the components to be displayed on home
//-

extends layout 

block content
    include partials/header.pug
    //- Including Banner Page 
    include banner.pug
    //- Including About Page 
    include about.pug

    include partials/footer.pug